.no-mt {
  margin-top: 0px;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.icon-size {
  font-size: 25px;
  color: #fb9224;
}
