#orange {
  --background: #f45905;
  --background-activatedre: #f45905;
  --background-activated-opacity: #f45905;
  --background-focused: #f45905;
  --background-focused-opacity: #f45905;
  --background-hover: #f45905;
}

.btn-text {
  font-family: "Noto Sans JP";
  font-size: 22px;
}
